In [57]:
import os
import pandas as pd
from collections import Counter

In [58]:
df_path = os.listdir('/opt/ml/input/code/result')

In [59]:
df_list = {}

In [60]:
for idx, path in enumerate(df_path):
    tmp = pd.read_csv("/opt/ml/input/code/result/" + path)
    df_list[f'df{idx+1}'] = tmp.groupby("user")["item"].unique()

In [63]:
users = []
items = []
for i in df_list['df1'].index:
    users.extend([i]*10)
    tmp = []
    for j in df_list.keys():
        tmp.extend(df_list[j][i].tolist())
    item_cnt = dict(Counter(tmp))
    temp = [k for k, v in sorted(item_cnt.items(), key=lambda item: item[1], reverse=True)]
    items.extend(temp[:10])

In [64]:
submit = pd.DataFrame()
submit['user'] = users
submit['item'] = items
submit

          user   item
0           11   4370
1           11   4886
2           11   8961
3           11  32587
4           11  40815
...        ...    ...
313595  138493   5349
313596  138493   2628
313597  138493    110
313598  138493   8970
313599  138493   4022

[313600 rows x 2 columns]

In [65]:
submit.to_csv("ensemble_submission.csv", index=False)